/* ================================ CONTACT ================================ */


/* Temporär styling för sektion */

.contact-wrapper {
    width: 100%;
    margin-bottom: 5rem;
}

.contact {
    background-color: rgb(224, 224, 224);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
}