/* ================================ DOWNLOAD ================================ */


/* Temporär styling för sektion */


/* .download-wrapper {
    width: 100%;
    margin-bottom: 5rem;
 } */

.d-flex {
    display: flex;
}

.mt {
    margin-top: 10px;
}

.mb {
    margin-bottom: 10px;
}

.download-btn {
    cursor: pointer;
}


/* APPLICATIONS */

.appstore {
    background-color: #1487FD;
    background-image: url(/pics/fff.svg);
    overflow: hidden;
}

.appstore-content {
    color: #fff;
    justify-content: center;
}

.appstore {
    padding-block: 3rem;
}

.appstore-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.appstore-text h1 {
    font-size: 30px;
    margin-bottom: 30px;
    max-width: 27rem;
}

#appstore-p {
    line-height: 30px;
    margin-bottom: 40px;
    max-width: 27rem;
}

.app-buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.btn-text {
    margin-left: 25px;
    text-align: left;
}

.download-btn {
    background-color: #fff;
    font-family: 'Roboto';
    padding: 1rem 1rem;
    border-radius: 12px;
    border: none;
    align-items: center;
    border: 2px solid transparent;
    width: 14.875rem;
    justify-content: center;
}

.download-btn img {
    margin-left: 5px;
}

.download-btn p {
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 500;
    color: #6B6B6B;
}

.download-btn h4 {
    font-size: 22px;
    font-weight: 600;
    color: #111111;
}

.phones {
    display: none;
    margin-top: 30px;
}


/* .phone-one {
    height: 90%;
    margin-top: 100px;
}

.phone-two {
    position: relative;
    z-index: 2;
    margin-left: -160px;
}

.phone-three {
    height: 90%;
    margin-top: 100px;
    margin-left: -170px;
} */

.download-btn:hover {
    background-color: transparent;
    border: 2px solid #fff;
    transition: border ease-in-out 0.2s;
}

.download-btn:hover p {
    color: #fff;
    transition: color ease-in-out 0.2s;
}

.download-btn:hover h4 {
    color: #fff;
    transition: color ease-in-out 0.2s;
}