/* ================================ FEATURES ================================ 
 * Kodad av Kent Poli
 */


/* ---------Section-Features---------- */

.features {
    background-color: rgba(245, 245, 245, 0.308);
    padding: 5rem 0;
    position: relative;
}

.features-container-k {
    display: flex;
    width: 100%;
}

.features-wrapper-outer {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 2rem;
}


/* -------------Left-container---------------- */

.left-container-k {
    display: flex;
    justify-content: center;
    flex: 1;
    margin: 0;
    width: 100%;
}

.left-container-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.left-container-k button {
    font-size: 14px;
    color: var(--clr-secondary);
    background-color: var(--clr-secondary-light);
    padding: 0.4rem 2rem;
    border-radius: 10px;
    border: none;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
    align-self: center;
}

.left-container-k h2 {
    font-size: 40px;
    margin-bottom: 1.5rem;
    color: var(--clr-txt-title);
    text-align: center;
}

.left-container-k p {
    font-size: 16px;
    line-height: 2rem;
    margin-bottom: 0;
    color: inherit;
    /* width: 4rem; */
    text-align: center;
}

.left-container-k .p-features {
    margin-bottom: 3rem;
    max-width: 600px;
}

.features-wrapper {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

.left-text {
    display: flex;
    gap: 1rem;
}

.left-text h3 {
    color: var(--clr-txt-title);
}

.left-text p {
    max-width: 270px;
    text-align: left;
}

.left-text-img {
    width: 50px;
}

.bullet-container-k {
    display: none;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.bullet-container-k img {
    position: relative;
    top: 16%;
}


/* ------------------Right-container--------------- */

.right-container-k {
    flex: 1;
    margin-top: 3.5rem;
    position: relative;
    display: none;
    transform: translateX(8rem);
}

.iphone-container {
    position: relative;
    z-index: 10;
}

.iphone-1 {
    width: 240px;
    height: 30rem;
    position: absolute;
    transform: rotate(-35deg);
    left: -4rem;
    top: -1rem;
}

.iphone-2 {
    width: 263px;
    position: absolute;
    top: -4rem;
    left: 4rem;
}

.bullet-container-right {
    position: absolute;
    bottom: 1rem;
    left: 7rem;
    width: 93px;
}

.bullet-container-right img {
    width: 100%;
    color: #F2805B;
    height: 204px;
}

.gul-blå-ring-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.gul-blå-ring-container .blå-ring {
    width: 93px;
    height: 93px;
    background-color: var(--clr-primary);
    border-radius: 50%;
    position: relative;
    top: 16rem;
    left: 4rem;
}

.gul-blå-ring-container .gul-ring {
    width: 239px;
    height: 239px;
    background-color: #F5F5F5;
    border: 3rem solid var(--clr-secondary);
    border-radius: 50%;
    position: absolute;
    top: 2rem;
    right: 3rem;
}