/* ================================ SCREENS ================================ */


/* Temporär styling för sektion */

.screens-wrapper {
    width: 100%;
    margin-bottom: 5rem;
}

.screens {
    background-color: rgb(224, 224, 224);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
}