/* ================================ SCREENS ================================ */


/* header start casper */

.head {
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.head h1 {
    font-size: 1.5rem;
    color: var(--clr-txt-title);
}

.head p {
    color: var(--clr-txt-body);
}


/* Header end*/


/* Carousel start Casper*/

.swiper {
    width: 100%;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
}

.swiper-slide img {
    margin: auto;
    padding: 1rem;
    display: block;
    width: 220px;
    height: 520px;
    transition: transform 100ms ease;
}

.active-slide img {
    transform: scale(1.1);
}

.swiper-button-next {
    color: var(--clr-primary);
}

.swiper-button-prev {
    color: var(--clr-primary);
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    background-color: var(--text-body);
    color: var(--clr-primary);
    border-radius: 5px;
}


/* Carousel end */