/* ================================ STATS ================================ */

.head {
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.head h1 {
    font-size: 1.5rem;
    color: var(--clr-txt-title);
}

.head p {
    color: var(--clr-txt-body);
}

.map {
    background: url('../../img/map.svg');
    background-repeat: no-repeat;
    background-position-x: center;
}

.list {
    max-width: 100%;
    margin: auto;
    justify-content: space-around;
    display: grid;
    grid-template-columns: auto auto;
}

.stats {
    margin-top: 2rem;
}

.stats h3 {
    font-size: 1.8rem;
    color: var(--clr-primary);
}

.stats p {
    color: var(--clr-txt-body);
    font-size: 1.2rem;
}

.stats:nth-child(even) {
    text-align: right;
}


/* Informations sida end */